

:root { 
font-size: 16px;
}

html, body {
font-family: 'Inconsolata', monospace;
}

body {
margin: 0;
padding: 0;
}

#concon {
display:none; 
}

#concon:target {
display: block;
text-align: center;
z-index:250;
}

h1 {
font-size: 4rem;
font-weight: 600;
margin: 20px; 
padding: 0;
width: auto;  
max-width: calc(100% - 40px);  
white-space: normal;
}
 
h2 {
font-size: 2rem;
font-weight: 600;
}
  
h3 {
font-size: 2rem;
font-weight: 600;
}

p {
font-size: 1rem;
font-weight: 600;
text-align: center;
}

p.about:first-letter { 
font-size: 100px; 
display: block; 
float: left; 
line-height: .5; 
margin: 15px 15px 10px 0; 
}

img.cert {
margin:5vmin;
border: 5px solid black;
width:70vw;
height:30vh;
max-width: 100%;
position:relative;
z-index: 99;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
}

img.certtall {
margin:5vmin;
border: 5px solid black;
width:70vw;
height:50vh;
position: relative;
z-index: 99;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#aboutcon{
display:none;
}

#aboutcon:target {
display:block;
text-align: center;
z-index:250;
}
    
#certcon {
display:none;
}

#certcon:target {
display: flex;
flex-direction: column;
align-items: center;
overflow: scroll;
z-index: 250;
}

div.form{ 
  height: 70vh;
    display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.icons{ 
  height: 70vh;
    display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form.username  { 
  
  padding: 15px;
  width: 70vw; 
  margin: 20px;
  border-radius: 10px;
  background-color: blue;
  color: white;
}





