

:root { 
font-size: 16px;
}

html, body {
font-family: 'Inconsolata', monospace;
}

nav{
 width: 100%;
 color: white;
}

body {
margin: 0;
padding: 0;
}
header{
 width: 100%;
}

h1 {
font-size: 4rem;
font-weight: 600;
margin: 20px; 
padding: 0;
width: auto;  
white-space: normal;
}

h2 {
font-size: 2rem;
font-weight: 600;
}
  
h3 {
font-size: 2rem;
font-weight: 600;
}
h5{
font-weight: 600;
}

p {
font-size: 1rem;
font-weight: 600;
text-align: center;
}

img.cert {
margin:5vmin;
border: 5px solid black;
width:70vw;
height:30vh;
max-width: 100%;
position:relative;
z-index: 99;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
}

img.certtall {
margin:5vmin;
border: 5px solid black;
width:70vw;
height:50vh;
position: relative;
z-index: 99;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#certcon {
display: flex;
flex-direction: column;
align-items: center;
overflow: scroll;
z-index: 250;
}

.skills{ 
 left: 30px;
}

footer{
padding: 10px;
 position:fixed;
 bottom: 1px;
}
