

:root { 
font-size: 16px;
}
h1, h2 {
 writing-mode: vertical-lr;
 }


html, body {
font-family: 'Inconsolata', monospace;
}

nav{
 width: 100%;
 color: white;
}

body {
margin: 0;
padding: 0;
}
header{
 width: 100%;
}
.display-1 {
margin-top:50px;

}

img.certtall {
margin:5vmin;
border: 5px solid black;
width:100%;
height:50vh;
position: relative;
z-index: 99;
}
  
h3 {
font-size: 2rem;
font-weight: 600;
}
h5{
font-weight: 600;
}

p {
font-size: 1rem;
font-weight: 600;
text-align: center;
}

img.cert {
margin:5vmin;
border: 5px solid black;
width:100%;
height:30vh;
max-width: 100%;
position:relative;
z-index: 99;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#certcon {
width:100%;
overflow: scroll;
z-index: 250;
}
img#dev{
 width:75px;
 height:75px;
 margin-bottom: 50px;
 margin-right: 50px;
}


footer{
 display: flex;
 flex-direction: column;
 align-content: center;
 justify-content: center;
}

div.skillsprogress{
width: 100%;
hieght:auto;
padding: ;
}
svg {
height: 50px;
 width: 50px;
}
div#colcontainer {
display:flex;
 flex-direction: column;

}
