html, body {
  height: 100vh;
  font-size: 16px;
}
  
body {
  margin: 0;
  padding: 0;
}
nav {
  position:fixed;
  z-index:150;
  }
  

nav ul {
  list-style-type: none; 
}

nav li {
  display: inline-block; 
  margin: 1vmin;
}
a.toggle-button {
  display: inline;
  text-decoration: none;
  color: black;
  font-size: 1em;
  border: 5px solid black;
  border-radius:10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
  background-color: #FFFFFF;
  z-index: 200;
  padding: 10px;
  }
div.filler{
  width:100vw;
  height:50vh;
  }
div#headercon {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
div#footercon {
  display: flex;
  align-items: center;
  flex-direction: column;
  }

footer {
width: 90vw;
border: 5px solid black;
text-align: center;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
z-index:150;
position:fixed;
bottom:5vmin;
background-color: #FFFFFF;
}


#concon {
  display:none; 
  }

#concon:target {
width: 90vw;
border: 5px solid black;
display: block;
text-align: center;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
z-index:99;
background-color: #FFFFFF;
}
   h1 {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
 
  h2 {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
 h3 {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

 p {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

img.cert {
  margin:5vmin;
  border: 5px solid black;
  width:70vw;
  height:30vh;
  max-width: 100%;
  position:relative;
  z-index: 99;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
}
img.certtall {
  margin:5vmin;
  border: 5px solid black;
  width:70vw;
  height:50vh;
  position: relative;
  z-index: 99;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
  }
#aboutcon{
  display:none;
  }
  #aboutcon:target {
    display:block;
    width: 90vw;
border: 5px solid black;
text-align: center;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
z-index:99;
background-color: #FFFFFF;
}
    
    
    
#certcon {
  display:none;
}

#certcon:target {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
div#cloudcon {
 width: 100vw;
  align-items:center;
  }

@keyframes movearound  { 
0% {transform: translateX(25vw);}
100% {transform: translateX(-25vw);}
}
 @keyframes hone  { 
0% {transform: translateX(-25vw);}
100% {transform: translateX(25vw);}
}


img.cloud {
  opacity: 0.5;
  width:50vw;
	height:40vh;
  max-width: 100%;
  position: fixed;
  z-index: 1;
  top: 50vh;
  }


#cloud1 {
animation-name: hone;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#cloud2 {
animation-name: movearound;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#cloud3 {
animation-name: hone;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#cloud4 {
animation-name: movearound;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#cloud5 {
animation-name: movearound;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#cloud6 {
animation-name: hone;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#cloud7 {
animation-name: movearound;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#cloud8 {
animation-name: hone;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#cloud9 {
animation-name: movearound;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#cloud10 {
animation-name: movearound;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#cloud11 {
animation-name: hone;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#cloud12 {
animation-name: movearound;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#cloud13 {
animation-name: movearound;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#cloud14 {
animation-name: hone;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#cloud15 {
animation-name: movearound;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
