html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  color: #fff;
}

#animation-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  position: fixed;
}

#animation-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
}

/* Rest of your CSS styles */












header {
display: flex;
flex-direction: column;
align-items: center;
}

main{
display: flex;
flex-direction: column;
align-items: center;
}

footer{
  
  }
  
  
  div.selfportrait {
      
    }
    
    img.co {
      margin: 40px;
      width: 200px;
      height:200px;
      }
      
.container {
  width: 100% ;
  height: 150px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
.container h1 {
  font-size: 90px;
  font-weight: 600;
  }
  .container h2 {
  font-size: 70px;
  font-weight: 600;
  }

}
h3{
  text-align: center;
  }


p {
  text-align: center;
  font-size: 25px;
  }

div.ce {
display: flex;
flex-direction: column;
align-items: center;
}

div.cechild {
  margin: 20px; 
}

img.ce {
width: 100%; 
height: 850px;
 }

div.co {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

div.f {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
a.d {
margin: 40px;
      width: 100px;
      height:100px;
}
img.e {
margin: 40px;
      width: 100px;
      height:100px;
}

 #selfportrait {
  width: 400px;
height: 400px;
}

span {
color: #fff724; 
}
