html, body {
  height: 100vh;
  font-size: 16px;
background: red;
}


body {
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
div#copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
  }

footer {
width: 90vw;
text-align: center;
z-index:150;
position:fixed;
bottom:5vmin;
}
#apiproject {
 display:none;
}
#apiproject:target {
	width: 90vw;
border: 5px solid black;
display: flex;
text-align: center;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
z-index:250;
background-color: #FFFFFF;
position:fixed;
top:25vh;
}

#concon {
  display:none; 
  }

#concon:target {
width: 90vw;
border: 5px solid black;
display: block;
text-align: center;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
z-index:250;
background-color: #FFFFFF;
position:fixed;
top:25vh;
}
   h1 {
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
 
  h2 {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
 h3 {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

 p {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
p.about:first-letter { 
  font-size: 100px; 
  display: block; 
  float: left; 
  line-height: .5; 
  margin: 15px 15px 10px 0; 
}

img.cert {
  margin:5vmin;
  border: 5px solid black;
  width:70vw;
  height:30vh;
  max-width: 100%;
  position:relative;
  z-index: 99;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
}
img.certtall {
  margin:5vmin;
  border: 5px solid black;
  width:70vw;
  height:50vh;
  position: relative;
  z-index: 99;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
  }
#aboutcon{
  display:none;
  }
  #aboutcon:target {
    display:block;
    width: 90vw;
border: 5px solid black;
text-align: center;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
z-index:250;
background-color: #FFFFFF;
 position:fixed;
top:25vh;
}
    
#certcon {
  display:none;
}

#certcon:target {
width:90vw;
height:40vh;
display: flex;
flex-direction: column;
align-items: center;
overflow: scroll;
position:fixed;
top:25vh;
z-index: 250;
}


* {
;
}

.container {
display:flex;
flex-direction:row;
gap: 10px;
	background: red;
}

.box {
margin: 20px;
 width:100px;
height:100px;
animation-name: fade;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background: red;

}

@keyframes fade {
 0% { box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);}

100% {  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);}
}
p
#certcon::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Styling the thumb */
#certcon::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Styling the thumb on hover */
#certcon::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
